.Header {
  font-size: calc(10px + 2vmin);

  color: white;
  background-color: #282c34;

  text-align: center;

  justify-items: center;
  align-items: center;

  grid-area: Header;
}

.HeaderTextContainer {
  width: 100%;
  height: 100%;
  grid-area: Header;
  display: flex;
  justify-content: center;
  align-items: center;
}